<!DOCTYPE html>
<html>

	<head>
		<title>Rango</title>
	</head>

	<body>
		<h1>Rango says… hello world!</h1>

		{% if categories %}
			<h2>Categories</h2>
			<ul>
				{% for category in categories %}
					<li><a href="/rango/category/{{ category.slug }}">{{ category.name }}</a></li>
				{% endfor %}
			</ul>
		{% else %}
			<strong>there are no categories present.</strong>
		{% endif %}

		{% if pages %}
		<h2>Most Viewed Pages</h2>
		<ul>
			{% for page in pages %}
				<li><a href="{{ page.url }}">{{ page.title }}</a></li>
			{% endfor %}
		</ul>
		{% endif %}

		<a href="/rango/about/">About</a>
        <a href="/rango/add_category/">Add a New Category</a><br />
	</body>

</html>
